%Unclickable
{
	cursor : default;
}

%Unselectable
{
	@extend %Unclickable;
	& *::selection
	{
		background-color : transparent;
	}
	&::selection
	{
		background-color : transparent;
	}
}

%Std-Transition
{
	transition : all 0.2s linear;
}

%Transition-Fill
{
	transition : fill linear .2s;
}

%Transition-Fast
{
	transition : background linear .2s, background-color linear .2s, color linear .2s, fill linear .2s, border linear .2s;
}

%Uppercase
{
	text-transform : uppercase;
}

%Form-Circle
{
	border-radius : 50%;
}

%Form-Rounded
{
	border-radius : 4px;
}

%Shadow
{
	box-shadow : 0 10px 40px 0 rgba(0, 0, 0, 0.4);
}

%Shadow-Text-Green
{
	text-shadow : 0 2px 0 rgba(65, 104, 45, 0.3);
}

%Shadow-Text-Yellow
{
	text-shadow : 0 2px 0 rgba(212, 142, 17, 0.6);
}

%Shadow-Text-White
{
	text-shadow : 0 0 2px rgba(255, 255, 255, 0.9);
}

%Shadow-Inset-Top
{
}

%Wrapper
{
	max-width : 1360px;
	margin    : 0 auto;

	@include Adaptive('>=desktop')
	{
		padding : 0 40px;
	}
}

%Button-Base
{
	@extend %Form-Rounded;
	@extend %Unselectable;
	cursor      : pointer;
	font-size   : 14rem;
	font-weight : 700;
	color       : $White;
	@include Adaptive('>=desktop')
	{
		font-size : 18rem;
	}
}

%Button-Green
{
	@extend %Button-Base;
	@extend %Shadow-Text-Green;
	padding          : 10px 0;
	max-width        : 270px;
	width            : 100%;
	background-color : $Green;
	box-shadow       : 0 3px 0 0 $Green-Deep;
	transition       : all linear .2s;
	@include Adaptive('>=desktop')
	{
		padding   : 20px;
		width     : auto;
		max-width : initial;
	}
	&:hover
	{
		transition       : all linear .2s;
		box-shadow       : 0 3px 0 0 $Brown;
		background-color : $Yellow;
	}
}

%Button-Yellow
{
	@extend %Button-Base;
	@extend %Shadow-Text-Yellow;
	padding          : 7px 10px;
	box-shadow       : 0 3px 0 0 $Brown;
	background-color : $Yellow;
	transition       : all linear .2s;

	@include Adaptive('>=ipad-P')
	{
		padding : 15px 20px;
	}
	&:hover
	{
		transition       : all linear .2s;
		background-color : $Green;
		box-shadow       : 0 3px 0 0 $Green-Deep;
	}
}






