html
{
	font-size   : 1px;
	font-family : 'Open Sans', sans-serif;
	position    : relative;
	overflow-x  : hidden;
}

body
{
	font-size    : 12rem;
	background   : $Gray;
	font-kerning : normal;
	min-width    : 320px;
}

input, button, textarea
{
	&:focus
	{
		outline : none;
	}

}

a
{
	text-decoration : none;
}

button
{
	border  : none;
	cursor  : pointer;
	padding : 0;
}

h1
{
	font-size   : 18rem;
	font-weight : 300;
	line-height : 25rem;
	@include Adaptive('>=desktop')
	{
		font-size   : 52rem;
		line-height : 60rem;
	}
}

h2
{
	font-size   : 28rem;
	font-weight : 600;
	padding     : 50px 0;
	@include Adaptive('>=tablet')
	{
		font-size : 36rem;
	}
}

h3
{
}

h4
{
}

h5
{
}

h6
{
}

p
{
	font-size   : 16rem;
	color       : $Text;
	font-weight : 600;
	line-height : 21rem;
}

dt, dd, span, li
{
	color : $Text;
}

main
{
}

.Main-Sprite
{
	display    : none;
	opacity    : 0;
	visibility : hidden;
}

.Phones-Header.JS-Menu-List
{

	@include Adaptive("<desktop")
	{
		display    : none;
		height     : 0;
		transition : height 0.2s linear;
		overflow   : hidden;
	}

}