.About
{
	@extend %Wrapper;
	padding       : 0 20px;
	margin-bottom : 40px;

	h2
	{
		color       : $Green;
		border-left : 6px solid $Yellow;
		padding     : 0 20px;
		margin      : 50px 0;
		@include Adaptive('>=desktop')
		{
			margin : 100px 0 50px;
		}
		small
		{
			font-size   : 14rem;
			color       : $Text-Gray;
			display     : block;
			font-weight : 500;
		}
	}
	@at-root .About-Info
	{
		@include Adaptive('>=ipad-P')
		{
			display : table;
			width   : 100%;
		}

		.Info
		{
			@include Adaptive('>=ipad-P')
			{
				display : table-cell;
				width   : 50%;
			}

		}

		.Info:first-of-type
		{
			@include Adaptive('>=ipad-P')
			{
				padding-right : 25px;
			}

		}

		.Info:last-of-type
		{
			@include Adaptive('>=ipad-P')
			{
				padding-left : 15px;
			}

		}

		p
		{
			font-size     : 12rem;
			font-weight   : 500;
			margin-bottom : 15px;
			line-height   : 20rem;
			@include Adaptive('>=desktop')
			{
				font-size   : 15rem;
				line-height : 22rem;
			}
		}

		li
		{
			position      : relative;
			font-size     : 12rem;
			line-height   : 20rem;
			margin-bottom : 15px;
			padding-left  : 25px;
			@include Adaptive('>=desktop')
			{
				font-size    : 15rem;
				line-height  : 22rem;
				padding-left : 43px;
			}

			&:before
			{
				content          : '';
				position         : absolute;
				left             : 0;
				top              : 8px;
				display          : inline-block;
				width            : 8px;
				height           : 8px;
				background-color : $Yellow;
			}
		}

		.Advantages
		{
			font-weight : 900;
		}
	}

}