
.Del-Wrap{
	display: none;
	@include Adaptive('>=desktop')
	{
		display : block;
	}
}

.Delivery-Wrap
{
	background-color : white;
	display          : none;
	@include Adaptive('>=ipad-P')
	{
		max-width   : 768px;
		margin      : 0 auto;
		border-left : 6px solid $Yellow;
	}
	@include Adaptive('>=desktop')
	{
		display : block;
	}

	.Close
	{
		@extend %Transition-Fill;
		height   : 20px;
		padding  : 20px;
		fill     : $Yellow;
		cursor   : pointer;
		&:hover
		{
			@extend %Transition-Fill;
			fill : $Green;
		}
	}

	h2
	{
		text-align  : center;
		font-weight : 900;
		color       : $Text;
		margin      : 0 20px;
	}
	@at-root .Delivery
	{
		max-width : 580px;
		margin    : 0 auto;

		padding   : 0 20px 50px;
		@include Adaptive('>=ipad-P')
		{
			display : table;
			width   : 100%;
			padding : 0 0 50px;
		}

		svg
		{
			display : block;
			fill    : $Green;
			width   : 200px;
			height  : 114px;
			margin  : 0 auto 20px;

			@include Adaptive('>=ipad-P')
			{
				display        : table-cell;
				vertical-align : top;
				margin         : 0;
			}
		}

		.Popup
		{
			@include Adaptive('>=ipad-P')
			{
				display        : table-cell;
				vertical-align : top;
			}
			p
			{
				margin-bottom : 20px;
				padding-left  : 30px;
			}

		}
	}

}