.Directions-Wrap
{
	position : relative;

	@at-root .Directions-Map
	{
		display  : none;
		position : absolute;
		left     : 0;
		right    : 0;
		bottom   : 0;
		top      : 0;
		width    : 100%;
		height   : 100%;

		@include Adaptive('>=desktop')
		{
			display : block;
		}

		svg
		{
			position : absolute;
			left     : 0;
			right    : 0;
			bottom   : 0;
			top      : 0;
			width    : 100%;
			height   : 100%;
		}

	}
	@at-root .Directions
	{
		@extend %Wrapper;

		padding-bottom : 50px;
		text-align     : center;
		min-height     : 900px;
		@include Adaptive('>=tablet')
		{
			text-align : initial;
		}

		@include Adaptive('>=desktop')
		{
			padding-bottom : 200px;
			text-align     : initial;
			min-height     : 990px;
		}

		@at-root .Directions-Tows
		{
			display    : inline-block;
			position   : relative;
			text-align : initial;

		}

		.Directions-Content
		{
			position   : absolute;
			top        : 0;
			left       : 0;
			right      : 0;
			background : rgba(255, 255, 255, 0.81);

			@include Adaptive('>=desktop')
			{
				position : absolute;
				top      : auto;
				left     : auto;
				right    : auto;
				width    : 400px;
			}

			& > li
			{
				display : none;
			}
		}

		@at-root .Directions-Header
		{
			text-align : center;
			@include Adaptive('>=tablet')
			{
				position    : relative;
				margin-left : 30px;
				text-align  : initial;
				z-index     : 1;
			}

			@include Adaptive('>=desktop')
			{
				margin-left : 0;
				width       : 400px;
				text-align  : initial;
			}

			h2
			{
				@extend %Unselectable;
				position    : relative;
				color       : $Text-Gray;
				font-size   : 28rem;
				font-weight : 500;
				padding     : 50px 20px;
				@include Adaptive('>=desktop')
				{
					font-size : 38rem;
					padding   : 50px 0 25px;
				}
				@at-root .Routes
				{
					width          : 27px;
					height         : 27px;
					margin-right   : 5px;
					vertical-align : middle;
					fill           : $Green;
					@include Adaptive('>=desktop')
					{
						width  : 50px;
						height : 50px;
					}

				}

			}

			p
			{
				display : none;
				@include Adaptive('>=desktop')
				{
					display      : block;
					padding-left : 60px;
				}
			}

			@at-root .Delivering
			{
				@extend %Unselectable;
				display : none;
				@include Adaptive('>=desktop')
				{
					display : block;
					padding : 28px 60px 20px;
				}

				svg
				{
					width          : 50px;
					height         : 30px;
					margin-right   : 20px;
					vertical-align : middle;
					fill           : $Green;
				}

				button
				{
					background : none;
					&:hover
					{
						span
						{
							@extend %Transition-Fast;
							color         : $Orange;
							border-bottom : 2px dashed $Green;
						}
					}
					span
					{
						@extend %Transition-Fast;
						border-bottom  : 2px dashed $Yellow;
						padding-bottom : 2px;
						vertical-align : middle;
						font-size      : 14rem;
						font-weight    : 700;
						color          : $Text;
					}

				}

			}

		}
		@at-root .Direction-List
		{
			@extend %Shadow;
			font-size  : 0;
			text-align : center;
			margin     : 0;
			padding    : 20px;

			background : rgba(255, 255, 255, 0.81);
			@include Adaptive('>=desktop')
			{
				position : absolute;
				left     : 0;
				top      : 0;
				width    : 400px;
			}

			li
			{
				display        : inline-block;
				vertical-align : top;
				width          : 50%;
				padding        : 2px;
				cursor         : pointer;
				@include Adaptive('>=tablet')
				{
					width : 25%;
				}
				@include Adaptive('>=ipad-P')
				{
					width : 25%;
				}
				@include Adaptive('>=desktop')
				{
					width : 33.3%;
				}
			}

			h3
			{
				font-size   : 13rem;
				color       : $Text;
				text-align  : center;
				font-weight : 700;
				padding     : 10px 0;
			}

			img
			{
				width : 100%;
			}

		}
		@at-root .Ticket
		{
			@extend %Shadow;
			max-width        : 400px;
			position         : relative;
			padding-bottom   : 20px;
			border           : 1px solid #f9f9f9;
			border-radius    : 1px;
			background-color : rgba(255, 255, 255, 1);
			margin           : 0 auto;
			@include Adaptive('>=desktop')
			{
				display     : block;
				margin-left : 0;
			}

			@at-root .Ticket-View
			{
				position   : relative;
				height     : 200px;
				background : url("../img/Donetsk-Kursk.jpg") no-repeat center / cover;
				text-align : center;


				button, span
				{
					font-size   : 16rem;
					font-weight : 900;
				}

				button
				{
					@extend %Transition-Fast;
					@extend %Shadow-Text-Green;
					position         : absolute;
					top              : 20px;
					left             : 0;
					padding          : 10px 25px 10px 25px;
					color            : white;
					background-color : $Green;

					&:hover
					{
						@extend %Transition-Fast;
						@extend %Shadow-Text-Yellow;
						background-color : $Yellow;
					}
				}

				@at-root .Ticket-Title
				{
					@extend %Shadow-Text-Yellow;
					@extend %Unselectable;
					position         : relative;
					bottom           : -155px;
					padding          : 9px 10px 10px 10px;
					background-color : $Yellow;
					border-radius    : 2px;
					color            : $White;
					text-align       : center;


					&:before
					{
						position    : absolute;
						bottom      : -16px;
						left        : 0;
						width       : 0;
						height      : 0;
						border-top  : 16px solid #d48e11;
						border-left : 15px solid transparent;
					}
				}

			}
			@at-root .Ticket-Nav
			{
				background-color : $Gray;
				display          : table;
				width            : 100%;
				margin-bottom    : 8px;
				border-bottom    : 1px solid #e2e2e2;
				padding-left     : 30px;
				@include Adaptive('>=tablet')
				{
					padding : 0 30px;
				}

				li
				{
					position       : relative;
					display        : table-cell;
					vertical-align : middle;
					padding        : 15px 0;
					cursor         : pointer;

					&:first-of-type
					{
						width       : 50%;
						font-size   : 12rem;
						font-weight : 500;
						cursor      : default;
						@include Adaptive('>=desktop')
						{
							font-size : 13rem;
						}
					}
					& + li
					{
						width       : 25%;
						font-weight : 700;
						font-size   : 12rem;
						text-align  : center;
						padding     : 0 5px;
						@include Adaptive('>=desktop')
						{
							font-size : 14rem;
						}
					}
				}

				.Active
				{
					background-color : white;
					&:after
					{
						content          : "";
						position         : absolute;
						left             : 0;
						right            : 0;
						bottom           : -1px;
						height           : 1px;
						background-color : white;
					}
				}

			}
			@at-root .Ticket-Price
			{

				span
				{
					@extend %Form-Rounded;
					padding          : 10px;
					background-color : $Gray;
				}

			}

			dl
			{
				display : table;
				width   : 100%;
				padding : 7px 30px 0;
				@include Adaptive('>=tablet')
				{
					padding : 7px 30px;
				}
			}

			dt, dd
			{
				display : table-cell;
				width   : 50%;
				height  : 30px;
			}

			dt
			{
				font-weight : 500;
				font-size   : 12rem;
				@include Adaptive('>=desktop')
				{
					font-size : 13rem;
				}
			}

			dd
			{
				font-weight : 700;
				font-size   : 12rem;
				line-height : 20rem;
				@include Adaptive('>=desktop')
				{
					font-size   : 14rem;
					line-height : 20rem;
				}
			}

			.Button
			{
				display    : block;
				margin     : 0 auto;
				padding    : 30px 20px;
				background : none;

				span
				{
					@extend %Shadow-Text-Green;
					@extend %Form-Rounded;
					display          : block;
					padding          : 10px;
					max-width        : 270px;
					width            : 100%;
					background-color : $Green;
					box-shadow       : 0 3px 0 0 $Green-Deep;
					transition       : all linear .2s;
					color            : white;
					font-size        : 15rem;
					@include Adaptive('>=desktop')
					{
						padding   : 20px;
						width     : auto;
						max-width : initial;
					}
					&:hover
					{
						@extend %Shadow-Text-Yellow;
						transition       : all linear .2s;
						box-shadow       : 0 3px 0 0 $Brown;
						background-color : $Yellow;
					}

				}
			}

		}
	}

}

//---------------------Comfort-Trip-----------------------

.Comfort-Trip
{
	position         : relative;
	z-index          : 1;
	font-size        : 0;
	text-align       : center;
	border-top       : 1px solid #e2e2e2;
	padding-bottom   : 50px;
	background-color : $Gray;
	@include Adaptive('>=tablet')
	{
		padding-bottom : 100px;
	}

	h2
	{
		@extend %Unselectable;
		padding    : 50px 0 20px;
		text-align : center;
		font-size  : 22rem;
		color      : $Text;
		@include Adaptive('>=tablet')
		{
			font-size : 36rem;
			padding   : 50px 0 60px;
		}

	}
	@at-root .Trip-Bus,.Trip-Driver,.Trip-Border
	{
		display   : inline-block;
		max-width : 100px;
		width     : 33.3%;
		@include Adaptive('>=tablet')
		{
			max-width : 320px;
		}

		svg
		{
			@extend %Form-Circle;
			border : 2px solid $Green-Deep;
			fill   : $Green-Deep;
		}

		span
		{
			@extend %Unselectable;
			display     : block;
			font-size   : 12rem;
			font-weight : bold;
			margin-top  : 8px;
			@include Adaptive('>=tablet')
			{
				margin-top : 22px;
				font-size  : 16rem;
			}
		}

	}
	@at-root .Trip-Bus
	{
		svg
		{
			width   : 40px;
			height  : 60px;
			padding : 6px 16px;
			@include Adaptive('>=tablet')
			{
				width   : 80px;
				height  : 120px;
				padding : 13px 33px;
			}
		}
	}
	@at-root .Trip-Driver
	{
		svg
		{
			width   : 38px;
			height  : 42px;
			padding : 15px 17px;
			@include Adaptive('>=tablet')
			{
				width   : 76px;
				height  : 84px;
				padding : 31px 35px;
			}
		}

	}
	@at-root .Trip-Border
	{
		svg
		{
			width   : 38px;
			height  : 43px;
			padding : 15px 17px;
			@include Adaptive('>=tablet')
			{
				width   : 76px;
				height  : 86px;
				padding : 30px 35px;
			}
		}

	}

}