.Phones-Wrap
{

	.Phones:link
	{
		text-decoration : none;
		color           : $Text;
	}
	.Phones
	{
		@extend %Wrapper;
		text-align : center;
		padding    : 30px 0;
		max-width  : 1280px;
		margin     : 0 auto;
		border-top : 1px solid #e2e2e2;
		@include Adaptive('>=desktop')
		{
			display    : table;
			width      : 100%;
			text-align : initial;
			padding    : 50px 20px;
		}
		@include Adaptive('>=1200px')
		{
			padding : 50px 0;
		}
		dl
		{
			padding    : 10px 0;
			text-align : center;
			@include Adaptive('>=desktop')
			{
				text-align : initial;
				display    : table-cell;
				width      : 25%;
				padding    : 10px 0 0 10px;
			}
		}
		dt
		{
			color         : $Green;
			font-size     : 12rem;
			margin-bottom : 10px;
		}
		dd
		{
			font-size : 30rem;
			color     : $Text;
			@include Adaptive('>=desktop')
			{
				font-size : 36rem;
			}
			&:link
			{
				text-decoration : none;
				color           : $Text;
			}
			a[href^="tel"]{
				color:inherit;
				text-decoration:none;
			}
		}
	}
}

.Site-Footer
{
	border-top       : 2px solid $Yellow;
	background-color : white;
	padding          : 30px 0 25px;

	footer
	{
		@extend %Wrapper;
		text-align : center;
		font-size  : 13rem;

		@include Adaptive('>=desktop')
		{
			display    : table;
			width      : 100%;
			text-align : initial;
		}
		@at-root .Copyright
		{
			dt, dd
			{
				margin-bottom : 10px;
				@include Adaptive('>=desktop')
				{
					margin-bottom : 0;
				}
			}

			span
			{
				display : block;
				margin  : 0 auto 10px;
				@include Adaptive('>=desktop')
				{
					margin  : 0;
					display : inline;
				}
			}

			@include Adaptive('>=desktop')
			{
				display        : table-cell;
				width          : 60%;
				vertical-align : middle;
			}
		}
		@at-root .Vk
		{
			@include Adaptive('>=desktop')
			{
				display        : table-cell;
				width          : 15%;
				vertical-align : middle;
			}

			span
			{
				display : none;
				@include Adaptive('>=desktop')
				{
					display : inline;
				}
			}

			a
			{
				display : inline-block;
				&:hover
				{
					svg
					{
						@extend %Transition-Fill;
						fill : $Green;
					}
				}
			}

			svg
			{
				@extend %Transition-Fill;
				display        : block;
				margin         : 15px auto 25px;
				width          : 36px;
				height         : 36px;
				vertical-align : middle;
				fill           : $Yellow;
				@include Adaptive('>=desktop')
				{
					display : inline-block;
					margin  : 0 10px 0 0;
				}
			}

		}
		@at-root .Made-By
		{

			@include Adaptive('>=desktop')
			{
				display        : table-cell;
				width          : 25%;
				vertical-align : middle;
				text-align     : right;
			}

			span
			{
				display : block;
				margin  : 0 auto 10px;
				@include Adaptive('>=desktop')
				{
					display : inline;
					margin  : 0 10px 0 0;
				}
			}

			a
			{
				@extend %Transition-Fast;
				display : inline-block;
				padding : 7px;
				border  : 2px solid $Yellow;
				color   : $Text;
				&:hover
				{
					@extend %Transition-Fast;
					border : 2px solid $Green;
				}
			}

		}
	}

}