#Route-marks g path
{
	cursor : pointer;

	&:first-of-type
	{
		stroke       : rgba(117, 24, 24, 0);
		stroke-width : 16px;
	}
}

#Routes
{
	position : relative;
}

#Routes polyline
{
	position : relative;
	z-index  : 0;
	opacity  : 0;
	&.Active
	{
		stroke  : #fbb03b;
		z-index : 999;
		opacity : 1;
	}
}

#Route-marks g
{
	transition : 0.3s ease;
	&.Active
	{
		path:first-of-type
		{
			fill : #f15a24;
		}

	}

	path:first-of-type{
		&:hover
		{
			fill : #f15a24;
		}
	}

}

#City-marks-names text
{

	cursor : pointer;
	&.Active
	{
		@extend %Shadow-Text-White;
		fill        : #f15a24;
		font-size   : 17px;
		font-weight : 900;
		font-family : 'Open Sans';
	}
}

#City-marks-names text.Donetsk
{
	&.Active
	{
		font-size   : 17px;
		font-weight : 900;
		font-family : 'Open Sans';
	}
}

#City-marks-names text
{

	@extend %Unselectable;

}

.Towns
{
	font-weight : 900;
	font-size   : 14rem;
	fill        : #555;

	&:hover{
		fill: #f15a24;
	}
}