.Reviews-Wrap
{
	background : url("../img/bg-reviews.jpg") no-repeat center / cover;
}

.Reviews
{
	position : relative;
	padding  : 0 0 140px;
	margin   : 0 auto;
	@include Adaptive('>=tablet')
	{
		padding : 0 0 185px;
	}
	@include Adaptive('>=desktop')
	{
		max-width : 1440px;
		padding   : 0 80px 185px;
	}
	h2
	{
		text-align : center;
	}
	h2, p
	{
		color : $White;
	}

	p
	{
		font-size   : 12rem;
		font-weight : 700;
		font-style  : italic;
		@include Adaptive('>=desktop')
		{
			font-size : 18rem;
		}
	}
	.JS-Carousel-List
	{
		width      : 100%;
		max-width  : 815px;
		margin     : 0 auto;
		min-height : 400px;

	}
	.Previous, .Next
	{
		position : absolute;
		top      : 190px;
		cursor   : pointer;
		@include Adaptive('>=desktop')
		{
			top : calc(50% - 100px);
		}
		svg
		{
			@extend %Transition-Fill;
			width            : 37px;
			height           : 37px;
			padding          : 25px;
			transform-origin : center;
			fill             : $White;
			@include Adaptive('>=desktop')
			{
				width   : 95px;
				height  : 95px;
				padding : 50px;
			}
		}
		&:hover
		{
			svg
			{
				@extend %Transition-Fill;
				fill : $Yellow;
			}

		}
	}
	.Previous
	{
		left : 0;
		@include Adaptive('>=desktop')
		{
			left : -25px;
		}
		svg
		{
			transform      : rotate(-90deg);
			-moz-transform : rotate(-45deg);
		}
	}
	.Next
	{
		right : 0;
		@include Adaptive('>=desktop')
		{
			right : -25px;
		}
		svg
		{
			transform      : rotate(90deg);
			-moz-transform : rotate(45deg);
		}

	}
	.Button
	{
		position   : absolute;
		bottom     : 100px;
		left       : 0;
		right      : 0;
		text-align : center;
		button
		{
			@extend %Button-Yellow;
		}

	}
	@at-root .Reviews-Nav
	{
		@extend %Unselectable;
		position   : absolute;
		bottom     : 50px;
		left       : 0;
		right      : 0;
		text-align : center;
		li
		{
			@extend %Transition-Fast;
			@extend %Form-Circle;
			display        : inline-block;
			width          : 18px;
			height         : 18px;
			margin         : 0 6px;
			vertical-align : middle;
			border         : 2px solid $White;
			cursor         : pointer;

			&:hover
			{
				@extend %Transition-Fast;
				background-color : rgba(255, 255, 255, .4);
			}

		}

		.Active
		{
			@extend %Transition-Fast;
			background-color : $Yellow;
			border           : 2px solid $Yellow;
			cursor           : default;
			&:hover
			{
				background-color : $Yellow;
			}
		}

	}

}

.Review-Wrap
{
	display : table;
	width   : 100%;
	@include Adaptive('>=desktop')
	{
		display : table;
		width   : 100%;
	}

}

.Review
{
	max-width : 815px;
	margin    : 0 auto;
	@include Adaptive('>=desktop')
	{
		display        : table-cell;
		vertical-align : middle !important;
		width          : 100%;
		max-width      : 815px;
		margin         : 0 auto;
	}
	@at-root .Review-Face
	{

		@include Adaptive('>=desktop')
		{
			display        : table-cell;
			width          : 20%;
			margin         : 0;
			vertical-align : middle;
		}

		> div
		{
			width         : 160px;
			height        : 160px;
			margin        : 0 auto 20px;
			border        : 5px solid $White;
			border-radius : 6px 25px 6px 25px;
		}

	}
	.Anastasia
	{
		background : url("../img/reviewer.jpg") no-repeat center / cover;
	}
	.Ivan
	{
		background : url("../img/ivan.jpg") no-repeat center / cover;
	}
	.Vitalina
	{
		background : url("../img/vitalina.jpg") no-repeat center / cover;
	}
	.Ivan
	{
		background : url("../img/ivan.jpg") no-repeat center / cover;
	}
	.Constance
	{
		background : url("../img/constance.jpg") no-repeat center / cover;
	}
	.Mariann
	{
		background : url("../img/mariann.jpg") no-repeat center / cover;
	}
	@at-root .Review-Text
	{
		padding : 20px;
		@include Adaptive('>=desktop')
		{
			display : table-cell;
			width   : 80%;
			padding : 0 0 0 50px;
		}

		h3
		{
			color         : $Yellow;
			font-size     : 20rem;
			font-weight   : bold;
			margin-bottom : 20px;
			text-align    : center;
			@include Adaptive('>=desktop')
			{
				margin-bottom : 10px;
				text-align    : initial;
			}

		}

		p
		{
			font-size : 14rem;
			@include Adaptive('>=desktop')
			{
				font-size : 18rem;
			}
		}

	}
}