
.Review-Popup
{
	position         : relative;
	max-width        : 800px;
	margin           : 0 auto;
	padding          : 0 20px 50px;
	background-color : white;

	@include Adaptive('>=ipad-P')
	{
		border-left : 6px solid $Yellow;
		padding     : 0 0 50px;
	}
	h2
	{
		padding     : 40px 0 35px;
		text-align  : center;
		font-weight : bold;
		color       : $Text;
	}
	.Close
	{
		@extend %Transition-Fill;
		position : absolute;
		top      : 20px;
		right    : 20px;
		width    : 20px;
		height   : 20px;
		padding  : 20px;
		fill     : $Yellow;
		cursor   : pointer;
		&:hover
		{
			@extend %Transition-Fill;
			fill : $Green;
		}
	}
	div
	{
		padding    : 10px 0;
		text-align : center;
		@include Adaptive('>=tablet')
		{
			text-align : initial;
			display    : table;
			max-width  : 560px;
			width      : 100%;
			margin     : 0 auto;
		}
	}
	label, input, textarea
	{
		font-size : 14rem;
		display   : block;
		@include Adaptive('>=tablet')
		{
			display : table-cell;
		}

	}
	label
	{
		cursor         : pointer;
		padding-bottom : 10px;
		@include Adaptive('>=tablet')
		{
			padding-bottom : 0;
			width          : 155px;
		}
	}
	.For-Message
	{
		vertical-align : top;
		padding-top    : 5px;
	}
	input, textarea
	{
		@extend %Form-Rounded;
		@extend %Transition-Fast;
		border           : 1px solid #c6c6c6;
		width            : 100%;
		background-color : #f9f9f9;
		&:focus
		{
			@extend %Transition-Fast;
			border : 1px solid $Yellow;
		}
	}
	input
	{
		height       : 35px;
		padding-left : 20px;
	}
	textarea
	{
		padding : 10px 20px;
		resize  : none;
		height  : 170px;
	}

	.Button
	{
		max-width : 560px;
		width     : 100%;
		margin    : 20px auto 0;

		@include Adaptive('>=tablet')
		{
			text-align : initial;
		}

		button
		{
			@extend %Button-Green;
			@include Adaptive('>=tablet')
			{
				margin-left : 155px;
			}
		}

	}

}

.Review-Popup .JS-Form-Result
{
	padding-left : 165px;
	font-size    : 14rem;
	text-align   : center;

	@include Adaptive('>=desktop')
	{
		margin-left : 155px;
		text-align  : left;
	}
}