.Top-Wrap
{
	position : relative;
}

.Top-Wrapper
{
	display  : table;
	width    : 100%;
	position : relative;
	height   : 500px;
	@include Adaptive('>=iphone-6')
	{
		height : 550px;
	}
	@include Adaptive('>=nexus-6')
	{
		height : 670px;
	}

	@include Adaptive('>=tablet')
	{
		height : 500px;
	}
	@include Adaptive('>=desktop')
	{
		height : 553px;
	}

	@include Adaptive('>=Laptop-1440')
	{
		height : 623px;
	}

	@include Adaptive('>=FHD')
	{
		height : 830px;
	}
	@at-root .Header-Group
	{
		display  : table-header-group;
		height   : 10%;
		position : relative;
		z-index  : 9;

		@at-root .Header-Wrap
		{
			position : relative;
			z-index  : 1;
			@include Adaptive('>=desktop')
			{
				border-top       : 4px solid $Yellow;
				background-color : rgba(0, 0, 0, .5);
			}

			header
			{
				@extend %Wrapper;
				@extend %Clearfix;
				position : relative;

				@at-root .Head-Menu
				{
					width            : 100%;
					display          : inline-block;
					background-color : $Yellow;
					border-bottom    : 3px solid $Brown;
					@include Adaptive('>=desktop')
					{
						width    : 200px;
						height   : 105px;
						position : absolute;
						top      : -6px;
					}

					@at-root .Logo
					{
						@extend %Unselectable;
						padding-top : 10px;
						display     : block;
						width       : 170px;
						height      : 75px;
						max-width   : 100%;

						@include Adaptive('>=desktop')
						{
							height      : 108px;
							margin      : 0 auto;
							padding-top : 0;
						}
					}

				}
				@at-root .Phones-Header
				{
					display          : none;
					position         : absolute;
					top              : 88px;
					left             : 0;
					right            : 0;
					background-color : rgba(0, 0, 0, .8);
					z-index          : 1;
					text-align       : left;
					@include Adaptive('>=desktop')
					{
						position         : relative;
						top              : 0;
						display          : table;
						float            : right;
						margin           : 25px 0;
						padding          : 0;
						background-color : transparent;
					}

					& > div
					{
						padding       : 45px 0;
						border-bottom : 4px solid $Yellow;

						@include Adaptive('>=desktop')
						{
							padding : 0;
							border  : none;
						}
					}

				}
				@at-root .Phones-Link
				{
					@extend %Unselectable;
					position : absolute;
					top      : 0;
					right    : 0;
					cursor   : pointer;
					padding  : 22px 25px;
					@include Adaptive('>=desktop')
					{
						display : none;
					}

					svg
					{
						width   : 24px;
						height  : 24px;
						display : block;
						margin  : 0 auto 4px;
						fill    : #333;
					}

					span
					{
						font-size   : 12rem;
						font-weight : 700;
						color       : $Text;
					}

				}

				dl
				{
					display        : block;
					width          : 190px;
					margin         : 0 auto;
					padding-bottom : 20px;
					@include Adaptive('>=desktop')
					{
						min-width      : 230px;
						padding        : 0 0 0 15px;
						width          : auto;
						vertical-align : middle;
						display        : table-cell;
					}
					dt
					{
						font-size     : 12rem;
						font-weight   : bold;
						color         : $Yellow;
						margin-bottom : 5px;
					}
					dd
					{
						a
						{
							font-size   : 26rem;
							font-weight : 600;
							color       : $White;
						}
					}
				}
				dl + dl
				{

					@include Adaptive('>=desktop')
					{
						border-left : 1px solid $Gray;
					}
				}

			}
		}
	}

	@at-root .Parallax
	{
		position   : absolute;
		top        : 77px;
		left       : 0;
		right      : 0;
		bottom     : 110px;
		background : url("../img/bg-header@2x.jpg") no-repeat center / cover;
		@include Adaptive('>=tablet')
		{
			background : url("../img/bg-header.jpg") no-repeat center / cover;
			bottom     : 0;
		}

		@include Adaptive('>=ipad-P')
		{
		}

		@include Adaptive('>=desktop')
		{
			top : 0;
		}

	}

	@at-root .Top
	{

		display        : table-cell;
		vertical-align : bottom;
		@include Adaptive('>=tablet')
		{
			vertical-align : middle;
		}

		@include Adaptive('>=tablet')
		{
		}

		@include Adaptive('>=tablet')
		{
		}

		@at-root .Top-Content
		{
			margin    : 0 auto 60px;
			max-width : 1440px;

			@include Adaptive('>=tablet')
			{
				padding-right  : 50px;
				vertical-align : middle;
			}

			.Wrap
			{
				position  : relative;
				max-width : 270px;
				margin    : 0 auto;
				@include Adaptive('>=tablet')
				{
					max-width      : 266px;
					margin         : 0 0 0 auto;
					padding-bottom : 50px;
				}
				@include Adaptive('>=desktop')
				{
					max-width : 650px;
				}

			}

			h1
			{
				color            : $Text;
				font-weight      : 300;
				background-color : white;
				margin           : 0;
				padding          : 12px;
				border-left      : 4px solid $Yellow;
				@include Adaptive('>=ipad-P')
				{
					padding     : 20px;
					border-left : 8px solid $Yellow;
				}
			}

			@at-root .Top-Button
			{

				position   : absolute;
				bottom     : 0;
				left       : 0;
				right      : 0;
				text-align : center;
				@include Adaptive('>=tablet')
				{
					position   : relative;
					display    : table;
					bottom     : 0;
					max-width  : 650px;
					margin     : 0 0 0 auto;
					text-align : initial;
				}

				@include Adaptive('>=desktop')
				{
					margin : 0 293px 0 auto;
				}

				button
				{
					@extend %Uppercase;
					@extend %Button-Green;
					padding-left  : 10px;
					padding-right : 10px;
				}

			}

		}

	}
}